{% extends "layout.html" %}

{% block content_custom %}
<div class="row">

	<div class="col-md-4">
		<div class="content-section">
			{% block sidebar %}
			{% endblock sidebar %}
		</div>
	</div>

	<div class="col-md-8">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div class="content-section">
			{% block content %}
			{% endblock content %}
		</div>
	</div>

</div>
{% endblock content_custom %}