{% extends "content_simple.html" %}

{% block head %}
  <link href="{{url_for('visualizations.static', filename='visualizations.css')}}" type="text/css" rel="stylesheet">
{% endblock head %}

{% block form %}
  <form action="" method="post">
{% endblock form %}


{% block title %}
  <h3>Gauge Chart Example</h3>
{% endblock title %}


{% block content %}

  <h3>Dynamic number of gauge charts with d3js</h3>
    
{% endblock content %}


{% block content2 %}
  
  {% for gaugechart in gaugecharts %}
    <h5>Visualization: {{gaugechart['id']}}</h5><hr>
    <div id="{{ gaugechart['id'] }}" class="text-center"></div>
  {% endfor %}
  

{% endblock content2 %}
  

{% block end_form %}
  </form>
{% endblock end_form %}


{% block js_footer %}

  <script>  let gaugecharts = '{{gaugecharts|tojson|safe}}'; </script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{url_for('visualizations.static', filename='gaugechart.js')}}"></script>

{% endblock js_footer %}